﻿@model filipek.pl.Models.Report
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create";
}
<section class="p-sm-2 header-section text-center">
    <p class="text-center p-3 font-weight-bold">Twój panel</p>
    <p>@Html.Label("Zalogowany jako: ", User.Identity.GetUserName(), htmlAttributes: new { title = "", @class = "nav-link" })</p>
</section>
<nav class="pt-2">
    <ul class="nav nav-tabs">
        @if (Context.User.IsInRole("Admin") | Context.User.IsInRole("Worker"))
        {
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index","Manage")">Moje zgłoszenia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Reports")">Zgłoszenia klientów</a>
            </li>
        }
        @if (Context.User.IsInRole("User"))
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Manage")">Moje zgłoszenia</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Create","Reports")">Wystaw zgłoszenie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("ChangePassword","Manage")">Zmień hasło</a>
        </li>
        <li class="nav-item border-right">
            @Html.Partial("_LoginPartial")
        </li>
    </ul>
</nav>

<section class="py-4">
    @if (ViewBag.Added == "Sukces")
    {
        <h2>Zgłoszenie przekazno do realizacji</h2>
    }
    <div class="card mx-5">
        <div class="card-header bg-primary">
            <h5 class="text-white">Wystaw zgłoszenie</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "Reports", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label class="col-10">Rodzaj:</label>
                    <div class="col-md-10">
                        <select id="Type" class="form-control" name="Type">
                            <option disabled selected>[Wybierz]</option>
                            <option value="Zamówienie">Zamówienie</option>
                            <option value="Reklamacja">Reklamacja</option>
                            <option value="Zapytanie">Zapytanie</option>
                            <option value="Inne">Inne</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-10">
                    <label>Kategoria:</label>
                    <p>
                        <select id="Category" class="form-control" name="Category">
                            <option disabled selected>[Wybierz]</option>
                            <option value="Pomoc zdalna">Pomoc zdalna</option>
                            <option value="Hosting">Hosting</option>
                            <option value="Serwis PC">Serwis urządzeń peryferyjnych</option>
                            <option value="Odzyskiwanie danych">Odzyskiwanie danych</option>
                            <option value="Serwis telefonów i nawigacji">Serwis telefonów i nawigacji</option>
                            <option value="Uszkodzenia systemu">Uszkodzenia systemu</option>
                        </select>
                    </p>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-12">
                    <label>Opis:</label>
                    <p>
                        <textarea name="Description" id="Description" class="col-12 form-control"></textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </p>
                </div>

                <input type="hidden" name="Status" id="Status" value="Oczekuje" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Wyślij" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>

</section>
<section class="footer-section">
    <p class="font-weight-bold">Problemy z kontem?</p>
    <p>
        Napisz email do nas na adres: w57003@student.wsiz.rzeszow.pl
    </p>
</section>