﻿@model filipek.pl.Models.Report
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Delete";
}

<section class="p-sm-2 header-section text-center">
    <p class="text-center p-3 font-weight-bold">Twój panel</p>
    <p>@Html.Label("Zalogowany jako: ", User.Identity.GetUserName(), htmlAttributes: new { title = "", @class = "nav-link" })</p>
</section>

<section class="py-4">
    <h3>Czy jesteś prewny aby usunąć zgłoszenie o id: @Html.DisplayFor(Model => Model.ID)?</h3>
    <div>
        <hr />
        

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-danger" /> 
                <button type="button" onclick="location.href='@Url.Action("Details","Reports", new { id=Model.ID})'" class="btn btn-secondary">Anuluj</button>
            </div>
        }
    </div>
</section>