﻿@model filipek.pl.Models.Report
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
}
<section class="py-4">
    <div class="card mx-5">
        <div class="card-header bg-primary text-white">
            <span class="ml-5">Zgłoszenie klienta:  @Html.DisplayFor(Model => Model.User)</span>
        </div>
        <div class="card-body mx-5">
            <div class="row">
                <div class="col-md-5">
                    <p>ID zgłoszenia:</p>
                    <p><input type="text" disabled value="@Html.DisplayFor(model => model.ID)" /></p>
                    <p>Kategoria:</p>
                    <p><input type="text" disabled value="@Html.DisplayFor(model => model.Category)" /></p>
                    <p>Rodzaj:</p>
                    <p><input type="text" disabled value="@Html.DisplayFor(model => model.Type)" /></p>
                </div>
                <div class="col-md-4 offset-1">
                    <p class="font-weight-bold">Status:</p>
                    <p>
                        <h4><span id="StatusReport" class="">@Html.DisplayFor(Model => Model.Status)</span></h4>
                    </p>
                    <p class="font-weight-bold">Data utworzenia:</p>
                    <p>@Html.DisplayFor(model => model.Data_of_issue)</p>
                    <p>@Html.DisplayFor(model =>model.User)</p>
                </div>
            </div>
            <p>Opis:</p>
            <p>
                @Html.TextAreaFor(Model => Model.Description, htmlAttributes: new { @class = "col-12 mb-5 form-control", disabled = "disabled", rows = "8" })
            </p>
            @if (Model.Status == "Rozpatrzono" | Model.Status == "Wymaga dodatkowych informacji" | Model.Status == "Odrzucono")
            {
                <p>Odpowiedź pracownika:</p>
                @Html.TextAreaFor(Model => Model.ReplyReport, htmlAttributes: new { @class = "col-12 mb-5 form-control", disabled = "disabled", rows = "8" })
            }
            <p class="text-right">

                @if (Context.User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Delete", "Reports", new { id=Model.ID})" class="btn btn-danger">Usuń</a>
                }
                @if (Context.User.IsInRole("Admin") | Context.User.IsInRole("Worker"))
                {
                    if (Model.Status == "Oczekuje")
                    {
                        <a href="@Url.Action("Edit", "Reports", new { id=Model.ID})" class="btn btn-warning">Odpowiedz na zgłoszenie</a>
                    }
                }

                @if (Context.User.IsInRole("User"))
                {
                    if (Model.Status == "Oczekuje" | Model.Status == "Wymaga dodatkowych informacji")
                    {
                        <a href="@Url.Action("Edit","Reports", new { id=Model.ID })" class="btn btn-primary">Edytuj</a>
                    }
                }
                @if (Context.User.IsInRole("User"))
                {
                    <a href="@Url.Action("Index","Manage")" class="btn btn-secondary">Powrót</a>
                }
                @if (Context.User.IsInRole("Admin") | Context.User.IsInRole("Worker"))
                {
                    <a href="@Url.Action("Index","Reports")" class="btn btn-secondary">Powrót</a>

                }
            </p>
        </div>
    </div>

    @if (Context.User.IsInRole("Admin") | Context.User.IsInRole("Worker"))
    {
        <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="replyModalLabel">Odpowiedź na zgłoszenie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("Details", "Reports", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-body">

                            <label>Stan rozpatrzenia</label>
                            <p>
                                <select id="Status" class="form-control" name="Status" required>
                                    <option disabled selected>[Wybierz]</option>
                                    <option value="Rozpatrzono">Rozpatrz pozytywnie</option>
                                    <option value="Wymaga dodatkowych informacji">Rozpatrz neutralnie</option>
                                    <option value="Odrzucono">Rozpatrz negatywnie</option>
                                </select>
                            </p>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <label>Opis:</label>
                            <textarea required name="ReplyReport" id="ReplyReport" rows="12" class="form-control col-12"></textarea>
                            @Html.ValidationMessageFor(Model => Model.ReplyReport, "", new { @class = "text-danger" })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Wróć</button>
                            <input type="submit" class="btn btn-primary" value="Prześlij" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</section>
<script src="~/Scripts/StatusReport.js"></script>