﻿@model filipek.pl.Models.Report
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit";
}


<section class="py-4">

    @using (Html.BeginForm())
    {
        if (Context.User.IsInRole("User"))
        {
            @Html.AntiForgeryToken()
            <div class="card mx-5">
                <div class="card-header bg-primary">
                    <h5 class="text-white">Edytuj zgłoszenie</h5>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            <label class="col-10">Rodzaj</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-10">Kategoria</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-10">Opis:</label>
                            <div class="col-md-10">
                                <textarea name="Description" id="Description" rows="8" class="col-12 form-control">@Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })</textarea>

                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<input type="hidden" name="Status" id="Status" value="Oczekuje" />*@
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" onclick="location.href='@Url.Action("Details", "Reports", new { id = Model.ID })'" class="btn btn-danger">Odrzuć</button>
                                <input type="submit" value="Zapisz" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        if (Context.User.IsInRole("Worker") | Context.User.IsInRole("Admin"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="text-white px-4">Odpowiedz na zgłoszenie klienta:</h5>
                </div>
                <div class="card-body form-group px-5">
                    <label>Stan rozpatrzenia:</label>
                    <p>
                        <select id="Status" class="form-control" name="Status" required>
                            <option disabled selected>[Wybierz]</option>
                            <option value="Rozpatrzono">Rozpatrz pozytywnie</option>
                            <option value="Wymaga dodatkowych informacji">Rozpatrz neutralnie</option>
                            <option value="Odrzucono">Rozpatrz negatywnie</option>
                        </select>
                        @Html.ValidationMessageFor(model => Model.Status, "")
                    </p>
                    <label class="col-10">Odpowiedź pracownika:</label>
                    <p>
                        <textarea rows="8" name="ReplyReport" id="ReplyReport" class="col-12 form-control">@Html.DisplayFor(model => model.ReplyReport, new { htmlAttributes = new { @class = "form-control" } })</textarea>
                        @Html.ValidationMessageFor(model => model.ReplyReport, "", new { @class = "text-danger" })
                    </p>
                    <a href="@Url.Action("Details", "Reports", new { id = Model.ID })" class="btn btn-secondary">Wróć</a>
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </div>
        }
    }

</section>
