﻿@model IEnumerable<filipek.pl.Models.Report>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<section class="p-sm-2 header-section text-center">
    <p class="text-center p-3 font-weight-bold">Twój panel</p>
    <p>@Html.Label("Zalogowany jako: ", User.Identity.GetUserName(), htmlAttributes: new { title = "", @class = "nav-link" })</p>
</section>

<nav class="pt-2">
    <ul class="nav nav-tabs">
        @if (Context.User.IsInRole("Admin") | Context.User.IsInRole("Worker"))
        {
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index","Manage")">Moje zgłoszenia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Index","Reports")">Zgłoszenia klientów</a>
            </li>
        }
        @if (Context.User.IsInRole("User"))
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Manage")">Moje zgłoszenia</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Create","Reports")">Wystaw zgłoszenie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("ChangePassword","Manage")">Zmień hasło</a>
        </li>
        <li class="nav-item border-right">
            @Html.Partial("_LoginPartial")
        </li>
    </ul>
</nav>
<section class="py-4">
    <h2>Zgłoszenia klientów</h2>
    <table class="table table-striped my-5 table-hover">
        <thead>
            <tr>
                <th scope="col">Numer</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Rodzaj</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        @if (Context.User.IsInRole("Admin") | Context.User.IsInRole("Worker"))
        {
            foreach (var item in Model)
            {
                <tbody>
                    <tr class="clickable-row" data-href="@Url.Action("Details", "Reports", new { id=item.ID })">
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category)</td>
                        <td>@Html.DisplayFor(modelItem => item.Type)</td>
                        <td>@Html.DisplayFor(modelItem => item.Data_of_issue)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    </tr>
                </tbody>
            }
        }
    </table>
</section>

<section class="footer-section">
    <p class="font-weight-bold">Problemy z kontem?</p>
    <p>
        Napisz email do nas na adres: w57003@student.wsiz.rzeszow.pl
    </p>
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/StatusReport.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>

