﻿@model filipek.pl.Models.ChangePasswordViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Zmień hasło";
}
<section class="p-sm-2 header-section text-center">
    <p class="text-center p-3 font-weight-bold">Twój panel</p>
    <p>@Html.Label("Zalogowany jako: ", User.Identity.GetUserName(), htmlAttributes: new { title = "", @class = "nav-link" })</p>
</section>

<nav class="pt-2">
    <ul class="nav nav-tabs">
        @if (Context.User.IsInRole("Admin") | Context.User.IsInRole("Worker"))
        {
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index","Manage")">Moje zgłoszenia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Reports")">Zgłoszenia klientów</a>
            </li>
        }
        @if (Context.User.IsInRole("User"))
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Manage")">Moje zgłoszenia</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Create","Reports")">Wystaw zgłoszenie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("ChangePassword","Manage")">Zmień hasło</a>
        </li>
        <li class="nav-item border-right">
            @Html.Partial("_LoginPartial")
        </li>
    </ul>
</nav>
<section class="py-4">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="card card-register">
            <div class="card-header">
                <h5>Zmien hasło:</h5>
            </div>
            <div class="card-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zmień hasło" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<section class="footer-section">
    <p class="font-weight-bold">Problemy z kontem?</p>
    <p>
        Napisz email do nas na adres: w57003@student.wsiz.rzeszow.pl
    </p>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}