﻿
@{
    ViewBag.Title = "DetailsReport";
}
<section class="py-4">
    <div class="card mx-5">
        <div class="card-header bg-primary text-white">
            Twoje zgłoszenie
        </div>
        <div class="card-body mx-5">
            <div class="row">
                <div class="col-md-5">
                    <p>ID zgłoszenia:</p>
                    <p><input type="text" disabled value="1" /></p>
                    <p>Kategoria:</p>
                    <p><input type="text" disabled value="Odzyskiwanie danych" /></p>
                    <p>Rodzaj:</p>
                    <p><input type="text" disabled value="Zgłoszenie" /></p>
                </div>
                <div class="col-md-4 offset-1">
                    <p class="font-weight-bold">Status:</p>
                    <p>
                        <h4><span class="badge badge-success p-2">Rozpatrzono</span></h4>
                    </p>
                </div>
            </div>

            <p>Opis:</p>
            <p>
                <textarea disabled class="col-12">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
</textarea>
            </p>
            <p>Odpowiedź pracownika:</p>
            <p>
                <textarea disabled class="col-12">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
</textarea>
            </p>
            <p class="text-right">
                <button class="btn btn-danger">Usuń</button>
                <a href="@Url.Action("Index","Manage")" class="btn btn-secondary">Powrót</a>
            </p>
        </div>
    </div>
</section>
