﻿@model filipek.pl.Models.Report
@{
    ViewBag.Title = "ExhibitAreport";
}

<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">Twój panel</p>
</section>

<nav class="pt-2">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index","Manage")">Twój panel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("ExhibitAreport","Manage")">Wystaw zgłoszenie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("ChangePassword","Manage")">Zmień hasło</a>
        </li>
        <li class="nav-item border-right">
            @Html.Partial("_LoginPartial")
        </li>
    </ul>
</nav>


    <div class="card mx-5 ">
        <div class="card-header bg-primary">
            <h5>Wystaw zgłoszenie</h5>
        </div>
        <div class="card-body mx-5">
            @using (Html.BeginForm("Create", "Repots", FormMethod.Post))
            {
                <form action="" method="post">
                    <label>Rodzaj:</label>
                    <p>
                        <select id="Type" class="form-control">
                            <option disabled selected>[Wybierz]</option>
                            <option value="Zamówienie">Zamówienie</option>
                            <option value="Reklamacja">Reklamacja</option>
                            <option value="Zapytanie">Zapytanie</option>
                            <option value="Inne">Inne</option>
                        </select>
                    </p>
                    <label>Kategoria:</label>
                    <p>
                        <select id="Category" class="form-control">
                            <option disabled selected>[Wybierz]</option>
                            <option value="Pomoc zdalna">Pomoc zdalna</option>
                            <option value="Hosting">Hosting</option>
                            <option value="Serwis PC">Serwis urządzeń peryferyjnych</option>
                            <option value="Odzyskiwanie danych">Odzyskiwanie danych</option>
                            <option value="Serwis telefonów i nawigacji">Serwis telefonów i nawigacji</option>
                            <option value="Uszkodzenia systemu">Uszkodzenia systemu</option>
                        </select>
                    </p>

                    <label>Opis:</label>
                    <p>
                        <textarea name="Description" class="col-12 form-control"></textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </p>
                    <input type="submit" class="btn btn-primary" value="Wyślij zgłoszenie" />
                </form>
                }
            </div>
    </div>
</section>

<section class="footer-section">
    <p class="font-weight-bold">Problemy z kontem?</p>
    <p>
        Napisz email do nas na adres: w57003@student.wsiz.rzeszow.pl
    </p>
</section>