﻿@using filipek.pl.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
}
<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">Panel klienta</p>
</section>

<section class="py-4">
    <div class="row">
        <div class="col-md-4 offset-1">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <h5>Zaloguj się:</h5>
                        </div>
                        <div class="card-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-10 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Zaloguj" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
        <div class="col-md-4 offset-1">
            <div class="card mt-5">
                <div class="card-header bg-success">
                    <h5>Nie masz konta? Zarejestruj się</h5>
                </div>
                <div class="card-body">
                    <p>
                        Konto jest darmowe, pozwoli Ci na szybki kontakt z nami.
                    </p>
                    <p>
                        <button type="button" onclick="location.href=('Account', 'Register')" class="btn btn-primary">Rejestracja</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-section">
    <p class="font-weight-bold">Problemy z logowaniem?</p>
    <p>
        Napisz email do nas na adres: w57003@student.wsiz.rzeszow.pl
    </p>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}