﻿@model filipek.pl.Models.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj";
}

<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">Rejestracja</p>
</section>

<section class="py-4">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="card mx-auto card-register">
            <div class="card-header">
                <h5>Zarejestruj się:</h5>
            </div>
            <div class="card-body">
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Zarejestruj" />
                    </div>
                </div>
            </div>
        </div>
    }
    
</section>
<section class="footer-section">
    <p class="font-weight-bold">Problemy z rejestracją?</p>
    <p>
        Napisz email do nas na adres: w57003@student.wsiz.rzeszow.pl
    </p>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
