﻿@model filipek.pl.Models.SendCodeViewModel
@{
    ViewBag.Title = "Wyślij";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>Wyślij kod weryfikacyjny</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            Wybierz dostawcę uwierzytelniania dwuetapowego:
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            <input type="submit" value="Prześlij" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
