﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — Firma informatyczna</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="m-0 p-0">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg bg-light navbar-light" style="max-width:1110px; margin: 0 auto;">
                <a class="navbar-brand" href="@Url.Action("index","Home")">
                    <img src="~/Content/Pictures/logotyp.PNG" width="168px" height="76px" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end nav-justified" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("index","Home")">STRONA GŁÓWNA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("News","Home")">AKTUALNOŚCI</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown-w3">
                                <a class="nav-link" href="@Url.Action("Tips","Home")">PORADY</a>
                                <div class="dropdown-w3-content">
                                    <a href="@Url.Action("UsefulSoftware","Home")">PRZYDATNE OPROGRAMOWANIE</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown-w3">
                                <a class="nav-link" href="@Url.Action("About","Home")">O FIRMIE</a>
                                <div class="dropdown-w3-content">
                                    <a href="@Url.Action("Carrer","Home")">KARIERA</a>
                                    <a href="@Url.Action("Employees","Home")">NASI PRACOWNICY</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown-w3">
                                <a class="nav-link" href="@Url.Action("Offer","Home")">OFERTA</a>
                                <div class="dropdown-w3-content">
                                    <a  href="">SERWIS URZĄDZEŃ PERYFERYJNYCH</a>
                                    <a  href="">ODZYSKIWANIE DANYCH</a>
                                    <a  href="">USZKODZENIA SYSTEMU</a>
                                    <a  href="">SERWIS TELEFONÓW I NAWIGACJI</a>
                                    <a  href="">HOSTING</a>
                                    <a  href="">POMOC ZDALNA</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Price_List","Home")">CENNIK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Regulations","Home")">REGULAMIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact","Home")">KONTAKT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Manage" href="@Url.Action("Index", "Manage", routeValues: null)"><img id="u33" src="~/Content/Pictures/u33.png" /></a>
                        </li>
                        <li class="nav-item" id="u34_img">
                            <a class="nav-link" href="#"><img id="u34" src="~/Content/Pictures/u34.png" /></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
        <footer class="mt-3">
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">FILIPEK.PL</p>
                </div>
                <div class="col">

                </div>
                <div class="col">
                    <p class="font-weight-bold">Mapa strony</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Jesteśmy firmą oferująca usługi informatyczne. 
                        Posiadamy ofertę dla klientów indywidualnych oraz dla firm. 
                        Nasi pracownikcy specjakizuują się w odobnych dziedzinach. 
                        Zaufało nam już 100 klientów. Zapraszmy do kontkatu.
                    </p>
                </div>
                <div class="col" >
                    <p><img src="~/Content/Pictures/u77.png" /> w57003@student.wsiz.rzeszow.pl
                    </p>
                    <p>
                        <img src="~/Content/Pictures/u79.png" /> 17 866 11 11
                    </p>
                    <p>
                        <img src="~/Content/Pictures/u82.png" /> ul. Sucharskiego 2, 35-225 Rzeszów
                    </p>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dd><a href="@Url.Action("index","Home")">STRONA GŁÓWNA</a></dd>
                                <dd><a href="@Url.Action("News","Home")">AKTUALNOŚCI</a></dd>
                                <dd><a href="@Url.Action("Tips","Home")">PORADY</a></dd>
                                <dd><a href="@Url.Action("Offer","Home")">OFERTA</a></dd>
                                <dd><a href="@Url.Action("About","Home")">O FIRMIE</a></dd>
                            </dl>   
                        </div>      
                        <div class="col">
                            <dl>    
                                <dd><a href="@Url.Action("Price_List","Home")">CENNIK</a></dd>
                                <dd><a href="@Url.Action("Regulations","Home")">REGULAMIN</a></dd>
                                <dd><a href="@Url.Action("Contact","Home")">KONTAKT</a></dd>
                                <dd><a href="">CZAT</a></dd>
                                <dd><a href="">PANEL KLIENTA</a></dd>
                            </dl>
                        </div>
                    </div>                    
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
