﻿#u77_img {
    border-width: 0px;
   
    width: 24px;
    height: 19px;
}

#u77 {
    border-width: 0px;
    width: 24px;
    height: 19px;
}
#u116_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 71px;
}
#u116 {
    border-width: 0px;
    position: absolute;
    left: 822px;
    top: 589px;
    width: 91px;
    height: 71px;
}
#u33 {
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

#u33_img {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}
#u34.a {
    left: 903px;
    top: 41px;
    width: 41px;
    height: 31px;
    margin: 0 auto;
}

#u34_img.a {
    width: 41px;
    height: 31px;
    margin: 0 auto;
}
#loginLink {
   text-align:center;
}
.mx-10 {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}
.image-section {
    width: 100%;
    height: 100%;
}
.header-section {
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
}
#u125 {  
    width: 141px;
    height: 141px;
    background-color: #0049F1;
}
#u126 {
    min-width: 98px;
    min-height: 98px;
    width: 100%;
    height: 100%;
    max-width: 141px;
    max-height: 141px;
    background-color: #141824;
}
#u127 {
    min-width: 98px;
    min-height: 98px;
    width: 100%;
    height: 100%;
    max-width: 141px;
    max-height: 141px;
    background-color: #FFB600;
}
#u128 {
    min-width: 98px;
    min-height: 98px;
    width: 100%;
    height: 100%;
    max-width: 141px;
    max-height: 141px;
    background-color: #00DC0E;
}
#u129 {
    min-width: 98px;
    min-height: 98px;
    width: 100%;
    height: 100%;
    max-width: 141px;
    max-height: 141px;
    background-color: #FF003A;
}
#u130 {
    min-width: 98px;
    min-height: 98px;
    width: 100%;
    height: 100%;
    max-width: 141px;
    max-height: 141px;
    background-color: #FE8339;
}
#u104{
    width: 100%;
    height: 186px;
    background-color:#f2f2f2;
}
.img-square {
    width: 50%;
    height: 50%;
    margin: 15% 25% 10% 25%;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.mx-6 {
    padding-left: 4% !important;
    padding-right: 4% !important;
}
.small-line-height{
    line-height: 0.95em;
}


/*o firmie*/
#u119 {
    min-width: 98px;
    min-height: 98px;
    width: 100%;
    /* height: 100%;*/
    max-width: 141px;
    max-height: 141px;
    background-color: #FFFC19;
    margin: 2% auto;
}

#u123 {
    min-width: 98px;
    min-height: 98px;
    width: 100%;
    height: 100%;
    max-width: 141px;
    max-height: 141px;
    background-color: #1485CC;
    margin: 2% auto;
}
.img-square-about {
    width: 100%;
    max-width:480px;
    max-height:269px;
   
}
.article-section {
    background-color: #F2F2F2;
    height: auto;
    width: 100%;
    padding: 5%;
    margin:0px;
    font-size:13px;
}
/*o firmie koniec*/

/*kariera*/

.footer-section {
    min-width:129px;
    width:auto;
    height:auto;
    background-color: #F2F2F2;
    text-align:center;
    padding:3%;
}
/*kariera koniec*/

/*artykuły*/
.img-article{
    width: 260px;
    height:174px;
}
.article-section-gray{
    background-color:#F2F2F2;
}
/*artykuły koniec*/

/*porady*/
.square-tips{
    width:128px;
    height:128px;
    text-align:center;
    background-color:#169BD5;
    font-size: 12px;
    line-height:1.0em;
    padding-top:22px;
}
.img-article-tips {
    width: 60%;
    max-width: 538px;
    max-height: 302px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.article-tips {
    padding:3% 10% 10% 10%;
}
/*porady koniec*/
/*przydatne oprogramowanie*/
.img-usefulsoftware{
    display:block;
    margin: 10% auto;
    vertical-align:middle;
    width:80%;
    
}

/*dropdown-w3 hover w3schools.com*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-w3 {
    position: relative;
    display: inline-block;
}

.dropdown-w3-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-w3-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-w3-content a:hover {
            background-color: #ddd;
        }

.dropdown-w3:hover .dropdown-w3-content {
    display: block;
}

.dropdown-w3:hover .dropbtn {
    background-color: #3e8e41;
}

/*koniec przydatne oprogramowanie*/

/*cennik*/

.header-hosting {
    background-color: #0049FF;
    width: 100%;
    height: auto;
}
.img-table{
   width:48px; 
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*koniec cennik*/

.weather-img{
    width:130px;
    height:130px;
}