﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/u869.png" />
</section>
<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">
        O firmie
    </p>
    <p class="text-center mx-5">Przedsawiamy nasze referencje oraz informacje</p>
</section>
<section>
    <div class="row">
            <div id="u119" class="col">
                <a href="@Url.Action("Carrer","Home")"><img class="img-square" src="~/Content/Pictures/u883.png" />
                <p class="text-center font-weight-bolder text-body">KARIERA</p></a>
            </div>
            <div id="u123" class="col">
                <a href="@Url.Action("Employees","Home")">
                    <img class="img-square" src="~/Content/Pictures/u879.png" />
                    <p class="text-center font-weight-bolder small-line-height text-body">NASI PRACOWNICY</p>
                </a>
            </div>
    </div>
</section>
<section>
    <div class="row article-section">
        <div class="col-md-6">
            <p class="font-weight-bold small-line-height text-justify">Początki</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed ultrices lorem sit amet tristique aliquet.
                Aliquam hendrerit justo id dui suscipit, eget cursus mi pharetra.
                Pellentesque vel felis quis odio euismod tempor sed pretium nibh.
                Cras commodo eu lorem id lobortis.
                Donec elementum ac mauris quis scelerisque. Ut sit amet lorem augue.
                Sed sagittis velit sem, eget tempus tortor mollis vel.
                Vestibulum vel dui nec dolor blandit facilisis ac ut magna.
                Maecenas varius lacus accumsan enim aliquet, at imperdiet dui dapibus.
                Proin luctus sapien orci, vel tempor magna ullamcorper nec.
                Phasellus commodo vitae diam ac dignissim.
                Maecenas efficitur fermentum erat, in dictum metus.
                Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Aenean eu tristique risus.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-square-about" src="~/Content/Pictures/u762.jpg" />
        </div>
    </div>
    <div class="row article-section bg-white">
        <div class="col-md-6">
            <img class="img-square-about" src="~/Content/Pictures/reference.jpg" />
        </div>
        <div class="col-md-6">
            <p class="font-weight-bold small-line-height text-justify">Początki</p>
            <p>
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. 
                Sed ultrices lorem sit amet tristique aliquet. 
                Aliquam hendrerit justo id dui suscipit, eget cursus mi pharetra. 
                Pellentesque vel felis quis odio euismod tempor sed pretium nibh. 
                Cras commodo eu lorem id lobortis. 
                Donec elementum ac mauris quis scelerisque. Ut sit amet lorem augue. 
                Sed sagittis velit sem, eget tempus tortor mollis vel. 
                Vestibulum vel dui nec dolor blandit facilisis ac ut magna. 
                Maecenas varius lacus accumsan enim aliquet, at imperdiet dui dapibus. 
                Proin luctus sapien orci, vel tempor magna ullamcorper nec. 
                Phasellus commodo vitae diam ac dignissim. 
                Maecenas efficitur fermentum erat, in dictum metus. 
                Orci varius natoque penatibus et magnis dis parturient montes, 
                nascetur ridiculus mus. Aenean eu tristique risus.
            </p>
        </div>
    </div>
        <div class="row article-section">
            <div class="col-md-6">
                <p class="font-weight-bold small-line-height text-justify">Certyfikaty</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ultrices lorem sit amet tristique aliquet.
                    Aliquam hendrerit justo id dui suscipit, eget cursus mi pharetra.
                    Pellentesque vel felis quis odio euismod tempor sed pretium nibh.
                    Cras commodo eu lorem id lobortis.
                    Donec elementum ac mauris quis scelerisque. Ut sit amet lorem augue.
                    Sed sagittis velit sem, eget tempus tortor mollis vel.
                    Vestibulum vel dui nec dolor blandit facilisis ac ut magna.
                    Maecenas varius lacus accumsan enim aliquet, at imperdiet dui dapibus.
                    Proin luctus sapien orci, vel tempor magna ullamcorper nec.
                    Phasellus commodo vitae diam ac dignissim.
                    Maecenas efficitur fermentum erat, in dictum metus.
                    Orci varius natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Aenean eu tristique risus.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-square-about" src="~/Content/Pictures/certyficates.jpg" />
            </div>
        </div>
</section>