﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/u982.png" />
</section>
<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">Kariera</p>
    <p class="text-center mx-5">Szuaksz pracy? Masz doświadczenie lub stawiasz sobie co chwile nowe wyzwania? Zapraszmy do oferty.</p>
</section>
<section class="mx-6 m-5">
    <div id="accordion">
        <div class="card">
            <div class="card-header bg-warning">
                <a class="card-link stretched-link " data-toggle="collapse" href="#collapseOne">
                    <span class="font-weight-bold align-middle text-body">ADINISTRATOR SYSTEMU LINUX</span>
                    <img class="float-right" src="~/Content/Pictures/u903.png" />
                </a>
            </div>
            <div id="collapseOne" class="collapse  " data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet.
                    Proin gravida dolor sit amet lacus accumsan et viverra justo
                    commodo. Proin sodales pulvinar sic tempor.
                    Sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci,
                    sed rhoncus pronin sapien nunc accuan eget.
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header bg-danger">
                <a class="card-link stretched-link " data-toggle="collapse" href="#collapseTwo">
                    <span class="font-weight-bold align-middle text-white">WEB DEVELOPER</span>
                    <img class="float-right" src="~/Content/Pictures/u913.png" />
                </a>
            </div>
            <div id="collapseTwo" class="collapse  " data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet.
                    Proin gravida dolor sit amet lacus accumsan et viverra justo
                    commodo. Proin sodales pulvinar sic tempor.
                    Sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci,
                    sed rhoncus pronin sapien nunc accuan eget.
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header bg-info">
                <a class="card-link stretched-link " data-toggle="collapse" href="#collapseThree">
                    <span class="font-weight-bold align-middle text-body">SERWISANT URZĄDZEŃ MOBILNYCH</span>
                    <img class="float-right" src="~/Content/Pictures/u893.png" />
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet.
                    Proin gravida dolor sit amet lacus accumsan et viverra justo
                    commodo. Proin sodales pulvinar sic tempor.
                    Sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci,
                    sed rhoncus pronin sapien nunc accuan eget.
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header bg-primary">
                <a class="card-link stretched-link " data-toggle="collapse" href="#collapseFour">
                    <span class="font-weight-bold align-middle text-body">KIEROWNIK HR</span>
                    <img class="float-right" src="~/Content/Pictures/u991.png" />
                </a>
            </div>
            <div id="collapseFour" class="collapse  " data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet.
                    Proin gravida dolor sit amet lacus accumsan et viverra justo
                    commodo. Proin sodales pulvinar sic tempor.
                    Sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci,
                    sed rhoncus pronin sapien nunc accuan eget.
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header bg-success">
                <a class="card-link stretched-link " data-toggle="collapse" href="#collapseFive">
                    <span class="font-weight-bold align-middle text-body">ELEKTRONIK</span>
                    <img class="float-right" src="~/Content/Pictures/u1001.png" />
                </a>
            </div>
            <div id="collapseFive" class="collapse  " data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet.
                    Proin gravida dolor sit amet lacus accumsan et viverra justo
                    commodo. Proin sodales pulvinar sic tempor.
                    Sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci,
                    sed rhoncus pronin sapien nunc accuan eget.
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header bg-dark">
                <a class="card-link stretched-link " data-toggle="collapse" href="#collapseSix">
                    <span class="font-weight-bold align-middle text-white">KONSULTANT</span>
                    <img class="float-right" src="~/Content/Pictures/u1016.png" />
                </a>
            </div>
            <div id="collapseSix" class="collapse  " data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet.
                    Proin gravida dolor sit amet lacus accumsan et viverra justo
                    commodo. Proin sodales pulvinar sic tempor.
                    Sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nam fermentum,
                    nulla luctus pharetra vulputate, felis tellus mollis orci,
                    sed rhoncus pronin sapien nunc accuan eget.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-section">
    <p class="font-weight-bold">Aplikacja</p>
    <p>Jeżeli znalazłeś cos dla siebie, 
    napisz do nas email na adres: <br />example@example.com, 
    w treści podając: Aplikacja na stanowisko [Wpisz wstanowisko].</p>
</section>