﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/u1492.png" />
</section>

<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">Kontakt</p>
    <p class="text-center mx-5">Skontaktuj się z nami.</p>
</section>

<section>
    <div class="row my-5">
        <div class="col-md-6 px-4">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <img src="~/Content/Pictures/u1517.png" />
                    DANE ADRESOWE
                </div>
                <div class="card-body m-0 p-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.995992102286!2d21.979512916147844!3d50.04890637942195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfb6d2f4ddf8f%3A0x958858da08f8753b!2sWy%C5%BCsza+Szko%C5%82a+Informatyki+i+Zarz%C4%85dzania!5e0!3m2!1spl!2spl!4v1556300401275!5m2!1spl!2spl" style="width:100%;" <!--width="519" height="264"-->></iframe>
                    <div class="row">
                        <div class="col-2 text-right">
                            <br />
                            <p class="mt-5"><img src="~/Content/Pictures/u82.png" /></p>
                            <br />

                            <p class="mt-4"> <img src="~/Content/Pictures/u79.png" /></p>
                            <p class="mt-4"> <img src="~/Content/Pictures/u77.png" /></p>
                        </div>
                        <div class="col-10">
                            <p class="font-weight-bold">Adres:</p>
                            <p>
                                ul. Sucharskiego 2<br />
                                35-225 Rzeszów<br />
                                Budynek na przeciwko domu pomocy opieki społecznej<br />
                            </p>
                            <p class="font-weight-bold">Kontakt:</p>
                            <p>17 866 11 11:</p>
                            <p>W57003@student.wsiz.rzeszow.pl</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 px-4">
            <div class="card">
                <div class="card-header bg-warning">
                    <img src="~/Content/Pictures/u1501.png" />
                    NAPISZ DO NAS
                </div>
                <div class="card-body">
                    <form id="formularz" method="post" action="">
                        <div class="form-group">
                            <label for="emailInput">Imię / Nazwa firmy:</label>
                            <input type="text" required class="form-control mb-1" name="label" />
                            <p id="test"></p>
                            <label for="emailInput">Adres E-mail:</label>
                            <input type="email" class="form-control mb-4" name="email" required />
                            <label for="emailInput">Treść wiadomości:</label>
                            <textarea rows="7" class="form-control col-10 mb-4" name="message" required></textarea>
                            <button type="submit" class="btn btn-primary" data-toggle="modahl" data-target="#exampleModal">Wyślij wiadomość</button>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">


                                        </div>
                                        <div class="modal-body">
                                            <h3 class="text-center">Wysłano wiadomość</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</section>


<section class="footer-section">
    <p class="font-weight-bold">Biuro</p>
    <p>
        Czynne Od poniedziałku do piątku od 8:00 do 16:00.
        Pomoc zdalna dostępna od 7:00 do 23:00 każdego dnia.
    </p>
</section>

