﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/u1206.png" />
</section>
<section class="header-section">
    <p class="text-center p-3 font-weight-bold">
        Nasi pracownicy
    </p>
    <p class="text-center mx-5">Poznaj nasza kadrę</p>
</section>
<section class="mt-5 mb-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 16rem; margin: 2% auto;">
                <img class="card-img-top" src="~/Content/Pictures/u1060.png" />
                <div class="card-body">
                    <h5 class="card-title">Kamil- Serwisant urządzeń przenośnych</h5>
                    <p class="card-text">Zajmuje się naprawą nawigacji oraz telefonów</p>
                    <br />
                    <p class="align-bottom">kamil@it.pl</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 16rem; margin: 2% auto;">
                <img class="card-img-top" src="~/Content/Pictures/u1060.png" />
                <div class="card-body">
                    <h5 class="card-title">
                        Tomasz - Hosting 
                    </h5>
                    <p class="card-text">Specjalista ds. hostingu. Oferuje pomoc w razie problemów.</p>
                    <br/>
                    <p class="align-bottom">tomasz@it.pl</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 16rem; margin: 2% auto;">
                <img class="card-img-top" src="~/Content/Pictures/u1060.png" />
                <div class="card-body">
                    <h5 class="card-title">Jan - Konsultant</h5>
                    <p class="card-text">Specjalizuje sie w pomocy zdalnej, oraz przedstawieniu oferty</p>
                    <br />
                    <p class="align-bottom">jan@it.pl</p>
                </div>
            </div>
        </div>
   
        <div class="col">
            <div class="card" style="width: 16rem; margin: 2% auto;">
                <img class="card-img-top" src="~/Content/Pictures/u1060.png" />
                <div class="card-body">
                    <h5 class="card-title">Grzegorz - Elektronik</h5>
                    <p class="card-text">Ekspert przy odzyskiwaniu danych</p>
                    <br />
                    <p class="align-bottom">grzegorz@it.pl</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 16rem; margin: 2% auto;">
                <img class="card-img-top" src="~/Content/Pictures/u1060.png" />
                <div class="card-body">
                    <h5 class="card-title">Mateusz - Kierownik</h5>
                    <p class="card-text">Koordynuje pracę pracowników, zmusza do przerw</p>
                    <p class="align-bottom">mateusz@it.pl</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 16rem; margin: 2% auto;">
                <img class="card-img-top" src="~/Content/Pictures/u1060.png" />
                <div class="card-body">
                    <h5 class="card-title">Łukasz - Naprawa PC</h5>
                    <p class="card-text">Naprawi uszkodzenie oraz oprogramowanie</p>
                    <br />
                    <p class="align-bottom">lukasz@it.pl</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-section">
    <p class="font-weight-bold">Chcesz zostać jednym z nich?</p>
    <p>
        Napisz do nas email na adres: <br />example@example.com,
        w treści podając: Aplikacja na stanowisko [Wpisz wstanowisko].
    </p>

</section>