﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/zdjecie_banner_u136.png" />
</section>
<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">Witaj na stronie Filipek.pl</p>
    <p class="text-center mx-5">Jestesmy firmą z Podkarpacia, oferującą usługi lokalnie oraz na cała polskę. Zaufało nam już 300 klientów. Przekaonaj się sam i znajdź cos dla siebie.</p>
</section>
<section>
    <div class="row">
        <div class="col-lg-6 my-5">
            <div id="u125" class="float-left mx-3 ml-4" >
                <a href="" class="text-black-50 text-decoration-none">
                    <img class="img-square" src="~/Content/Pictures/u127.png" />
                    <p class="text-center font-weight-bolder">HOSTING</p>
                </a>
                </div>
            <div id="u126" class="float-left mx-3"   >
                <a href="@Url.Action("Carrer","Home")" class="text-whi-50 text-decoration-none">
                    <img class="img-square" src="~/Content/Pictures/u112.png" />
                    <p class="text-center font-weight-bolder text-light">KARIERA</p>
                </a>
        </div>
            <div id="u127" class="float-left mx-3" >
                <a href="" class="text-black-50 text-decoration-none">
                    <img class="img-square" src="~/Content/Pictures/u134.png" />
                    <p class="text-center font-weight-bolder small-line-height">ZDALNE WSPARCIE</p>
                </a>
            </div>
            </div>
        <div class="col-lg-6 my-5">
            <div id="u128" class=" float-left  mx-3">
                <a href="" class="text-black-50 text-decoration-none">
                    <img class="img-square" src="~/Content/Pictures/u130.png" />
                    <p class="text-center font-weight-bolder">SERWIS</p>
                </a>
            </div>
            <div id="u129" class=" float-left  mx-3" >
                <a href="" class="text-black-50 text-decoration-none">
                    <img class="img-square" src="~/Content/Pictures/u116.png" />
                    <p class="text-center font-weight-bolder">CZAT</p>
                </a>
            </div>
            <div id="u130" class="float-left  mx-3 mr-4">
                <a id="manage" href="@Url.Action("Index", "Manage", routeValues: null)" class="text-black-50 text-decoration-none">
                    <img class="img-square" src="~/Content/Pictures/u121.png" />
                    <p class="text-center font-weight-bolder">TWÓJ PANEL</p>
                </a>
            </div>
        </div>
    </div>
    
    @*
        <div class="row m-5">
                <div class="col-6 col-sm-2">
                    <div id="u125" class="m-0">
                        <img class="img-square" src="~/Content/Pictures/u127.png" />
                        <p class="text-center font-weight-bolder">HOSTING</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div id="u126" class="m-0">
                        <img class="img-square" src="~/Content/Pictures/u112.png" />
                        <p class="text-center font-weight-bolder text-light">KARIERA</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div id="u127" class="m-0 ">
                        <img class="img-square" src="~/Content/Pictures/u134.png" />
                        <p class="text-center font-weight-bolder small-line-height">ZDALNE WSPARCIE</p>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div id="u128" class="m-0">
                        <img class="img-square" src="~/Content/Pictures/u130.png" />
                        <p class="text-center font-weight-bolder">SERWIS</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div id="u129" class="m-0 ">
                        <img class="img-square" src="~/Content/Pictures/u116.png" />
                        <p class="text-center font-weight-bolder">CZAT</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div id="u130" class="m-0">
                        <img class="img-square" src="~/Content/Pictures/u121.png" />
                        <p class="text-center font-weight-bolder">TWÓJ PANEL</p>
                    </div>
                </div>
          </div>
    *@

</section>
<section id="u104" class="p-sm-5">
    <p class="text-left font-weight-bolder ">
        <q>
            Chciałbym powiedzieć, że wiedziałem, że tak się stanie,<br />
            że to wszystko jest częścią wielkiego planu zdobycia władzy nad światem.
        </q>- Linus Torwalds
    </p>
</section>