﻿<link href="~/Content/Style.css" rel="stylesheet" />
<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/u168.png" />
</section>
<section class="header-section p-5">
    <div class="row">
        <div class="col">
            <p class="font-weight-bold">Pogodynka</p>
            <p>Wprowadź adres:</p>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="getLocation"/>
                </div>
                <div class="col-sm-6">
                    <input type="image" id="searchLocation" src="~/Content/Pictures/u142.png" />
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div id="iconhtml">
                <img src="~/Content/Pictures/u143_c.png" />
            </div>
            <br />
            <span class="font-weight-bold" id="nameLocation">Wpisz naszwę miejscowości</span>, <span class="font-weight-bold" id="country"></span>
            <br />
            <span id="weather"></span>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-1 text-center">
                    <img src="~/Content/Pictures/u145.png" />
                </div>
                <div class="col-sm-2" id="tempLow">
                    <sup>o</sup>C
                </div>
                <div class="col-sm-1">
                    <img src="~/Content/Pictures/u147.png" />
                </div>
                <div class="col-sm-1" id="wind">

                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-1">
                    <img src="~/Content/Pictures/u146.png" />
                </div>
                <div class="col-sm-2" id="tempMax">
                    <sup>o</sup>C
                </div>
                <div class="col-sm-1">
                    <img src="~/Content/Pictures/u148.png" />
                </div>
                <div class="col-sm-1" id="humidity">
                    %
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</section>
<section class="p-5">
    <div class="row">
        <div class="col">
            <p class="font-weight-bold">Kursy walut</p>
            <div class="row">
                <div class="col">
                    EUR:
                </div>
                <div class="col" id="eur">
                </div>
                <div class="col">
                    USD:
                </div>
                <div class="col" id="usd">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    GBP:
                </div>
                <div class="col" id="gbp">
                </div>
                <div class="col">
                    NOK:
                </div>
                <div class="col" id="nok">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    CHF:
                </div>
                <div class="col" id="chf">
                </div>
                <div class="col">
                    Złoto:
                </div>
                <div class="col" id="zloto">
                </div>
            </div>
        </div>
        <div class="col text-center">
            <img style="width:260px; height:176px;" class="img-fluid" src="~/Content/Pictures/u167.jpg" />
        </div>
    </div>
</section>
<section class="p-5 article-section-gray">
    <div class="row">
        <div class="col">
            <p class="font-weight-bold">Mamy nowych pracowników. Powiekszamy ofertę!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col text-center">
            <img class=" img-article img-fluid" src="~/Content/Pictures/u270.jpg" />
        </div>
    </div>
</section>
<section class="p-5">
    <div class="row">
        <div class="col">
            <p class="font-weight-bold">Otrzymaliśmy certyfikat</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col text-center">
            <img class=" img-article img-fluid" src="~/Content/Pictures/u275.jpg" />
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
</section>
<section class="p-5 article-section-gray">
    <div class="row">
        <div class="col">
            <p class="font-weight-bold">Luka Bezpieczeństwa w popularnych procesorach.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col text-center">
            <img class=" img-article img-fluid" src="~/Content/Pictures/u281.jpg" />
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
</section>

<script src="~/Scripts/API.js"></script>
