﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/u759.png" />
</section>
<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">Oferta</p>
    <p class="text-center mx-5">Dla róznych przypadkow mamy odpowiednie oferty. Sprawdź nasze usługi!</p>
</section>
<section class="mt-5 mb-5 mx-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 15rem; margin: 2% auto;">
                <img class="card-img-top image-card-offer" src="~/Content/Pictures/serwis.png" />
                <div class="card-body">
                    <p class="card-text">
                        Jeśli masz zalany sprzęt,
                        zdarzył się upadek,bądź
                        sprzęt nie reaguje na przycisk zasilania
                    </p>
                    <br />
                    <button type="button" class="btn btn-primary btn-sm">Zobacz ofertę</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem; margin: 2% auto;">
                <img class="card-img-top image-card-offer" src="~/Content/Pictures/odzysiwanie.png" />
                <div class="card-body">
                    <p class="card-text">
                        Przypadkowe usunięcie,
                        bądź utata danych
                        spowodowana awarią?
                    </p>
                    <br /><br />
                    <button type="button" class="btn btn-primary btn-sm">Zobacz ofertę</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem; margin: 2% auto;">
                <img class="card-img-top image-card-offer" src="~/Content/Pictures/uszkodzenia.png" />
                <div class="card-body">
                    <p class="card-text">
                        Zawiechy na starcie,
                        bądź dziwny błąd
                        przy uruchamianiu?
                    </p>
                    <br /><br />
                    <button type="button" class="btn btn-primary btn-sm">Zobacz ofertę</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem; margin: 2% auto;">
                <img class="card-img-top image-card-offer" src="~/Content/Pictures/tel_i_navi.png" />
                <div class="card-body">
                    <p class="card-text">
                        Spuchnięta bateria,
                        stłuczony wyświetlacz?
                    </p>
                    <br /><br /><br/>
                    <button type="button" class="btn btn-primary btn-sm">Zobacz ofertę</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem; margin: 2% auto;">
                <img class="card-img-top image-card-offer" src="~/Content/Pictures/hosting.png" />
                <div class="card-body">
                    <p class="card-text">
                        Chcesz umieścić
                        stronę na hostingu?
                    </p>
                    <br /><br /><br />
                    <button type="button" class="btn btn-primary btn-sm">Zobacz ofertę</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem; margin: 2% auto;">
                <img class="card-img-top image-card-offer" src="~/Content/Pictures/pomoc.png" />
                <div class="card-body">
                    <p class="card-text">                        
                        Daleko do biura,
                        i potrzebna pomoc
                        na już?
                    </p>
                    <br /><br /><br/>
                    <button type="button" class="btn btn-primary btn-sm">Zobacz ofertę</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>

</section>