﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/u1210.png" />
</section>
<section class="p-md-2 header-section">
    <p class="text-center p-3 font-weight-bold">Cennik</p>
    <p class="text-center mx-5">Sprawdź cenę wariantu usługi</p>
</section>

<section class="header-hosting text-center pt-3">
    <img  src="~/Content/Pictures/u127.png" />
    <p class="p-3 font-weight-bold">HOSTING</p>
</section>

<section>
    <div class="row">
        <div class="col-md-4 text-center mt-3">
            <table class="text-center border border-dark mx-auto">
                <tr>
                    <td class="p-3 font-weight-bolder border border-dark" style="background-color:#FF770A;"><h3>Plan startup</h3></td>
                </tr>
                <tr>
                    <td class="p-3 font-weight-bolder border border-dark" style="background-color:#FF895F;"><h3>50zł / rok</h3></td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark">50Gb przestrzeni dyskowej</td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark">2 Bazy danych / 1024Mb</td>
                </tr>
                <tr>
                    <td class="p-2 font-weight-bold border border-dark">Ceryfikat SSL 1 rok za darmo</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border border-dark">
                        PHP 7, Mysql, Wordpress, Joomla, MariaDB,<br />
                        Pomoc 24h/dobę.
                    </td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark"><button type="button" class="btn btn-primary">Zamów</button></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 text-center mt-3">
            <table class="text-center border border-dark mx-auto">
                <tr>
                    <td class="p-3 font-weight-bolder table-first-section border border-dark" style="background-color:#07E8A6;"><h3>Plan basic</h3></td>
                </tr>
                <tr>
                    <td class="p-3 font-weight-bolder table-second-section border border-dark" style="background-color:#57EBD2;"><h3>120zł / rok</h3></td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark">150Gb przestrzeni dyskowej</td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark">5 Baz danych / 4 Gb</td>
                </tr>
                <tr>
                    <td class="p-2 font-weight-bold border border-dark">Ceryfikat SSL</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border border-dark">
                        PHP 7, Mysql, Wordpress, Joomla, MariaDB,<br />
                        Pomoc 24h/dobę.
                    </td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark"><button type="button" class="btn btn-primary">Zamów</button></td>
                </tr>
            </table>
        </div>

        <div class="col-md-4 text-center mt-3">
            <table class="text-center border border-dark mx-auto">
                <tr>
                    <td class="p-3 font-weight-bolder table-first-section border border-dark" style="background-color:#B6FF0A;"><h4>Plan premium</h4></td>
                </tr>
                <tr>
                    <td class="p-3 font-weight-bolder table-second-section border border-dark" style="background-color:#B6FF0A;"><h3>220zł / rok</h3></td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark">550Gb przestrzeni dyskowej</td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark">20 Baz danych / 4 Gb</td>
                </tr>
                <tr>
                    <td class="p-2 font-weight-bold border border-dark">Ceryfikat SSL, SSH</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border border-dark">
                        PHP 7, Mysql, Wordpress, Joomla, MariaDB.<br />
                        ASP.NET, MS SQL 2017, Pomoc 24h/dobę.
                    </td>
                </tr>
                <tr>
                    <td class="p-2 border border-dark"><button type="button" class="btn btn-primary">Zamów</button></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-4 border border-dark font-weight-bold" style="background-color:#00DC0E; padding:3.5% 0% 3.5% 4%;">
            <div>
                <img style="width:48px; height:48px;" src="~/Content/Pictures/u130.png" />
                Serwis urządzeń peryferyjnych
            </div>
        </div>
        <div class="col-md-6 border border-dark">
            <ul class="m-3">
                <li>Diagnostyka - 20zł</li>
                <li>Naprawa uszkodzeń obudowy - 20 - 100zł</li>
                <li>Wymiana komponentów - 20 - 50zł</li>
                <li>Wymiana matrycy - 60zł</li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 border border-dark font-weight-bolder" style="background-color:#A95811; padding:2% 0% 2% 4%;">
            <img style="width:48px; height:48px;" src="~/Content/Pictures/u655.png" />
            Odzyskiwanie danych
        </div>
        <div class="col-md-6 border border-dark">
            <ul class="m-3">
                <li>Odzyskiwanie danych z działającego nośnika - 50 - 200zł</li>
                <li>Odzyskiwanie dnaych z uszkodzoengo nośnika - 300 - 500zł</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 border border-dark font-weight-bolder" style="background-color:#FF4319; padding:3% 0% 3% 4%;">
            <img style="width:48px; height:48px;" src="~/Content/Pictures/u647.png" />
            Uszkodzenia systemu
        </div>
        <div class="col-md-6 border border-dark">
            <ul class="m-3">
                <li>Optymalizacja systemu WIndows - 30 - 80zł</li>
                <li>Naprawa uruchaminaia sysytemu - 50 - 100zł</li>
                <li>Wgrywanie systemu na nowo - 30 - 50zł</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 border border-dark font-weight-bolder" style="background-color:#19FFAE; padding:2% 0% 2% 4%;">
            <img style="width:48px; height:68px;" src="~/Content/Pictures/u638.png" />
            Serwis telefonów i nawigacji
        </div>
        <div class="col-md-6 border border-dark">
            <ul class="m-3">
                <li>Wymiana wyświetlacza - 50 - 150zł</li>
                <li>Naprawa obudowy - 20 - 50zł</li>
                <li>Wymiana klawiszy, klawiatury - 30zł</li>
                <li>Naprawa płyty głownej - 40zł - 100zł</li>
            </ul>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-1"></div>
        <div class="col-md-4 border border-dark font-weight-bolder" style="background-color:#FFB600; padding:2% 0% 2% 4%;">
            <img  style="width:48px; height:48px;" src="~/Content/Pictures/u134.png" />
            Pomoc zdalna
        </div>
        <div class="col-md-6 border border-dark">

            <ul class="m-3">
                <li>Pomoc w godzinach 8:00 - 16:00 - 30zł/h</li>
                <li>Pomoc w godzinach 16:00 - 22:00 - 40zł/h</li>
            </ul>
           </div>
        </div>

</section>

<section class="footer-section">
    <p class="font-weight-bold">Informacja</p>
    <p>
        Ceny zależne są od stopnia złożenia problemu. 
        Stawaka za usługę zawsze jest <br />
        podawana przed skorzystaniem z niej.
    </p>
</section>