﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/u1383.png" />
</section>
<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">Regulamin</p>
    <p class="text-center mx-5">Przeczytaj, w razie wątpliwości zadzwoń. Chętnie wyjaśnimy.</p>
</section>
<section class="mx-6 m-3">
    <ol class="m-3 mt-5 mb-5 text-justify">
        <li class="font-weight-bold mt-3 mb-3">Postanowienia ogólne</li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
        et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum,
        nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin
        sapien nunc accuan eget.
        <li class="font-weight-bold mt-3 mb-3">Definicje</li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
        lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
        Sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo
        commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
        luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin
        sapien nunc accuan eget.
        <li class="font-weight-bold mt-3 mb-3">Informacje ogólne</li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
        lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
        Sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo
        commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
        luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin
        sapien nunc accuan eget.
        <li class="font-weight-bold mt-3 mb-3">Zakladanie konta</li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
        et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum,
        nulla luctus pharetra vulputate,
        felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
        <li class="font-weight-bold mt-3 mb-3">Przetwarzanie danych</li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
        lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
        Sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo
        commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
        luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin
        sapien nunc accuan eget.
        <li class="font-weight-bold mt-3 mb-3">Postanowienia końcowe</li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
        et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum,
        nulla luctus pharetra vulputate,
        felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
    </ol>
</section>

<section class="footer-section">
    <p class="font-weight-bold">Zmiany regulaminu</p>
    <p>
        Firma zastrzega dokonywania zmian regulaminu<br />
        ostatnia modyfikacja: <span id="date_modified"></span>
    </p>
</section>
<script type="text/javascript">
    var el = document.getElementById('date_modified');
    el.innerHTML = document.lastModified;
</script>
