﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/zdj_cie_u323.png" />
</section>
<section class="p-sm-2 header-section">
    <p class="text-center p-3 font-weight-bold">PORADY</p>
    <p class="text-center mx-5">Masz problem? Spróbuj rozwiązać go sam według poradników!</p>
</section>
<section class="p-5">
    <div class="row">
        <div class="col">
            <span class="font-weight-bold ml-4">KATEGORIE</span>
            <ul>
                <li><a href="">Uszkodzenia</a></li>
                <li><a href="">Komputer nie włącza się</a></li>
                <li><a href="">Jak podłaczyć?</a></li>
            </ul>
        </div>
        <div class="col">
            <br />
            <ul>
                <li><a href="">Co kupić?</a></li>
                <li><a href="">Testy</a></li>
                <li><a href="">Optymailzacja</a></li>
            </ul>
        </div>
       
        <div class="col">
            <div class="square-tips">
                <a href="@Url.Action("UsefulSoftware","Home")" class="text-black-50 text-decoration-none font-weight-bold">
                    <img src="~/Content/Pictures/u342.png" />
                    <br />
                    <br />
                    <br />
                    <p class="text-body">PRZYDATNE OPROGRAMOWANIE</p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="article-section-gray p-3">
    <p style="font-size:10px;">Optymalizacja</p>

    <p class="font-weight-bold text-center">Sposoby na przyspieszenie Windows 10</p>
    <img class="img-article-tips" src="~/Content/Pictures/u330.jpg" />
    <article class="article-tips">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
        </p>
        <p>
            Cras ultrices pulvinar magna quis lobortis. Proin bibendum libero turpis, vel dignissim leo mattis in. Integer vel risus ut diam dignissim suscipit vitae eu ex. Fusce et ex luctus, congue lectus vel, gravida dui. Aliquam ut blandit nibh. Curabitur pulvinar ex quis rutrum fringilla:
            <ul>
                <li>Aenean non scelerisque enim.</li>
                <li> Nullam sodales, ante vel scelerisque luctus, metus justo volutpat nulla, eget pellentesque neque nibh sed ipsum.</li>
                <li>Donec eget risus at arcu hendrerit bibendum vel quis ipsum.</li>
            </ul>
        </p>
        <p>Sed porta, risus vel porttitor dictum, libero ipsum condimentum dui, nec dapibus nulla enim vitae urna. Duis vitae aliquam odio.</p>
        <p>Suspendisse pharetra venenatis libero, id viverra turpis facilisis vitae. Donec mollis dui nec eros rutrum condimentum non in nulla. Nullam feugiat venenatis nunc sed maximus. Donec accumsan et leo sollicitudin rhoncus. Vestibulum eu tempus quam. Duis non enim efficitur, tincidunt est ut, tristique magna.</p>
    </article>
    <ul class="pagination pagination-sm justify-content-end pr-5">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</section>