﻿<link href="~/Content/Style.css" rel="stylesheet" />

<section class="image-section">
    <img class="image-section" src="~/Content/Pictures/obrazek_porady_u524.png" />
</section>
<section class="header-section p-4">
    <p class="text-center font-weight-bold">
        Przydatne oprogramowanie
    </p>
    <p class="text-center mx-5">
        Przrdstawiamy liste najlepszych programów<br />
        do rowiązania problemów oraz dla wygody obsługi komputera.
    </p>
</section>
<section class="p-5">
    <p class="font-weight-bold">Hirens Boot PE</p>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col">
            <img class="img-fluid img-usefulsoftware" style="max-width:210px;" src="~/Content/Pictures/u537.png" />
        </div>
    </div>
    <a href="https://www.hirensbootcd.org" class="btn btn-primary btn-sm">Przejdź do strony<br />producenta</a>
</section>
<section class="p-5 article-section-gray">
    <p class="font-weight-bold">Driver Booster</p>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col">
            <img class="img-fluid img-usefulsoftware" style="max-width:120px;" src="~/Content/Pictures/u530.png" />
        </div>
    </div>
    <a href="https://www.iobit.com/en/driver-booster.php" class="btn btn-primary btn-sm">Przejdź do strony<br />producenta</a>
</section>
<section class="p-5">
    <p class="font-weight-bold">ADW Cleaner</p>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col">
            <img class="img-fluid img-usefulsoftware" style="max-width:220px;" src="~/Content/Pictures/u553.jpg" />
        </div>
    </div>
    <a href="https://www.malwarebytes.com/adwcleaner/" class="btn btn-primary btn-sm">Przejdź do strony<br />producenta</a>
</section>
<section class="p-5 article-section-gray">
    <p class="font-weight-bold">F.lux</p>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col">
            <img class="img-fluid img-usefulsoftware" style="max-width:127px;" src="~/Content/Pictures/u546.png" />
        </div>
    </div>
    <a href="https://justgetflux.com" class="btn btn-primary btn-sm">Przejdź do strony<br />producenta</a>
</section>
<section class="p-5">
    <p class="font-weight-bold">Team Viewer</p>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col">
            <img class="img-fluid img-usefulsoftware" style="max-width:110px;" src="~/Content/Pictures/u414.png" />
        </div>
    </div>
    <a href="https://www.teamviewer.com/pl/" class="btn btn-primary btn-sm">Przejdź do strony<br />producenta</a>
</section>
<section class="p-5 article-section-gray">
    <p class="font-weight-bold ">Libre Office</p>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
        <div class="col">
            <img class="img-fluid img-usefulsoftware" style="max-width:134px;" src="~/Content/Pictures/u519.jpg" />
        </div>
    </div>
    <a href="https://pl.libreoffice.org" class="btn btn-primary btn-sm">Przejdź do strony<br />producenta</a>
</section>

